@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.technicalAuthority {
  .searchbar{
    width:100%;
    height:10%;
    padding: 15px 15px 0px 15px;
  }
  th{
    text-align: center;
  }
}