@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.careerpath {
  .barmenu {
    overflow: hidden;
    background-color: ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 2px;
  }

  .barmenu a {
      float: left;
      font-size: 16px;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  .dropdown {
      float: left;
      overflow: hidden;
  }

  .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }

  .dropdown:hover .dropbtn {
      border-bottom:3px solid #ED1C24;
      color:black;
      opacity:0.5;
  }

  .dropdowncontent {
      display: none;
      position: fixed;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdowncontent button {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }

  .dropdowncontent button:hover {
      background-color: #ddd;
  }

  .dropdown:hover .dropdowncontent {
      display: block;
  }

  .even{
      background-color: #0072ff00 !important;
  }

  .odd{
      background-color: white !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
      background-color: ghostwhite !important;
  }

  .checked {
      color: orange;
  }

  body{
      background-color: #f3f8ff;
  }
}