@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.masterListofConference {
  .searchbar{
    width:100%;
    height:10%;
    padding: 15px 15px 0px 15px;
  }

  .test{
    background-color: aqua;
  }

  th{
    text-align: center;
  }
  
  .navtabs{
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li{
      position: relative;
      display: block;
      float: left;
      margin-bottom: -1px;
      a{
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
      }
    }

    li{
      a.active{
        color:#555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
      }
    }
  }
}