@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.specialistInformation {

  background-color: #f3f8ff;
  
  .name{
    font-size: 15px;
    font-weight: bold;
    display: block;
    text-transform: capitalize;
  }
  .position{
    font-size: 13px;
    display: block;
    text-transform: capitalize;
  }
  .image{
    width: auto;
    height: 125px;
    border-radius: 50%;
    max-width: 125px;
  }

  .profile_wrapper{
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .profile_item{
    border: 1px solid #ecedef;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
    background-color: ghostwhite;
    max-width: 300px;
    margin: 29px;

    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      transform: scale(1.1);
    }
  }

  .profile_photo_wrapper{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 35px;
    min-height: 145px;
    position: relative;
    padding-top: 20px;
  }

  .profile_item_main{
    padding: 0px 32px 20px 0px;
    text-align: left;
  }

  textarea{
    &:disabled{
      border: 0;
      background-color: transparent;
      color: #5555;
    }
  }

  .input{
    max-height: 30px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}