@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.header {
  .navbar {
    padding: 1%;
    justify-content: center;
    background-color: ghostwhite;
    text-align: center;
  }

  .navbrand{
      display: inline-flex;
  }

  .pttlogo{
      width: auto;
      height: 50px;
  }

  .navcollapse{
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-inline-start: 0px;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      background-color: #00dcff82;
  }

  .navitem{
      padding: 0px 20px 0px 20px;
      margin: 10px 0px 10px 0px;
      color: #242424;
      text-decoration: none;
      list-style: none;
      border-right: 1px solid #aaa;
  }

  .navitemright{
      padding: 0px 20px 0px 20px;
      margin: 10px 0px 10px 0px;
      color: #242424;
      text-decoration: none;
      list-style: none;
  }

  .navitem.active{
      border-bottom: 1px solid rgb(252, 74, 74);
  }

  .navlink{
      font-family: "Poppins", sans-serif;
      color: #242424;
      text-transform: capitalize;
      font-weight: 500;
      text-decoration: none;
      list-style: none;
  }
  .navlink:hover{
      border-bottom:3px solid #ED1C24;
      color:#065CAB;
      opacity:1;
  }
  .navlink.active{
      border-bottom:3px solid #ED1C24;
      color:#065CAB;
      opacity:1;
  }
}