@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.suggestionDiscipline {
  .sidebar{
    width: 20%;
    height: inherit;
    background-color: #cadff4;
  }

  .sidebarheader{
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid grey;
      padding: 5px 5px 10px 5px;
      background-color: #a5cbf0;
  }

  .sidebarbody{
      display: flex;
      flex-direction: column;
      padding-top: 5px;
  }

  .sideitem{
      padding:5px;
  }

  .contentcontain{
      width: 80%;
      height: inherit;
      background-color: #d5e6f7;
  }

  body{
      background-color: #f3f8ff;
  }
}